

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components{
            .bg {
              background-image: linear-gradient(
  0deg,
  hsl(0deg 0% 0%) 0%,
  hsl(360deg 17% 59%) 33%,
  hsl(0deg 86% 94%) 67%,
  hsl(0deg 0% 100%) 100%
);
            }

            .showmodal{
              animation: newM;
              animation-duration: 300ms;
              animation-fill-mode: forwards;
              transition: ease-in-out;

            }
@keyframes newM {
          0% {}
  100%{top:50%; 
    z-index: 20;
  }
  
        }


}



